[user]
    name = ltang
    email = lin.tanglin@alibaba-inc.com
[core]
	autocrlf = input
	whitespace = cr-at-eol
	protectNTFS = false
	longpaths = true
	editor = /usr/local/bin/vim
[alias]
    st = status
    ci = commit
    br = branch
    co = checkout
    df = diff
    dfig = diff --ignore-space-at-eol
    lg = log -p
    cm = commit -m
    ui = update-index
    lf = log --pretty=format:"%h|%s"
    dt = difftool
[color]
    diff = auto
    status = auto
    branch = auto
	ui = auto
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[credential]
    helper = store
[diff]
	tool = vimdiff
[difftool]
	prompt = false
